@charset "UTF-8";

/*-----Fonts declaration-----*/

@font-face
{
	font-family: 'avenirnextDemi';
	src: url('../fonts/AvenirNextLTPro-Demi.otf');
}

@font-face
{
	font-family: 'avenirnextReg';
	src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

/*-----Scrollbar-----*/

*::-webkit-scrollbar
{
	
	display: none;
}

/*-----Tag styles-----*/

html
{
	overflow: -moz-scrollbars-none; 
	scroll-behavior: smooth;
}

body
{
	font-family: 'avenirnextReg', sans-serif!important;
}

main
{
	display: flex;
	flex-direction: column;
	align-content: stretch;
}

a
{
	color: unset!important;
	cursor: pointer;
}

a:hover
{
	text-decoration: none!important;
}

/*-----Navigation bar-----*/

.navbar
{
	position: relative;
	justify-content: space-between!important;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	font-family: 'avenirnextDemi', sans-serif!important;
	background-color: white;
	z-index: 999;
}

.nav-link
{
	color: #000000!important;
	transform: scale(1);
	transition: all 300ms ease-in;
}

.active
{
	color: #0025D3;
	transition: color 1s ease-in;
}

.nav-link:hover
{
	color: #0025D3!important;
	transform: scale(1.1);

}

/*-----Homepage styles-----*/

.homepage
{
	position: absolute;
	top: 0;
	min-height: 100vh;
	max-height: 100vh;
	background-color: #fff;
	padding-top: 8rem;
	transition: all 1s ease-in-out;
	font-family: 'avenirnextDemi', sans-serif!important;
	box-shadow: 0 10px 10px 3px rgba(0,0,0,0.2);
	z-index: 998;
	overflow: hidden;
}

.card
{
	border: none!important;
	box-shadow: 0 10px 11px 3px rgba(0, 0, 0, 0.12);
	border-radius: 1rem!important;
	transition: all 300ms ease-in-out;
}

.card:hover
{
	transform: scale(1.05);
	box-shadow: 0 10px 13px 9px rgba(0, 0, 0, 0.12);
}

.card:active
{
	transform: scale(0.95);
}

.card__bar
{
	height: 5px;
	background-color: #e9ecef;
}

.card__bar>div
{
	background-color: #0025D3;
	height: 5px;
}

.card img
{
	max-width: 50%;
}

.learn
{
	color: #0025D3;
	font-family: 'avenirnextDemi', sans-serif!important;
}

/*-----Media queries-----*/

@media only screen and (max-width: 767px)
{
	.homepage
	{
		position: absolute;
		max-height: unset;
		padding-top: 6rem;
	}

	.nav-item
	{
		font-size: 120%;
	}

	.nav-item:active.nav-item>a, .nav-item:hover.nav-item>a
	{
		background-color: #0025D3!important;
		color: #fff!important;
	}
}