@charset "UTF-8";

/*-----Fonts declaration-----*/

@font-face
{
	font-family: 'avenirnextDemi';
	src: url('../fonts/AvenirNextLTPro-Demi.otf');
}

@font-face
{
	font-family: 'avenirnextReg';
	src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

@font-face
{
	font-family: 'avenirnextBold';
	src: url('../fonts/AvenirNextLTPro-Bold.otf');
}

/*-----IDs-----*/

#pageUp
{
	/*position: absolute;
	margin-top: -250vh!important;
	transition: margin-top 1s ease-in-out, opacity 100ms linear 1s;*/
}

#pageDown
{
	margin-top: 0!important;
	transition: margin-top 1s ease-in-out, opacity 100ms linear 1s;
}

/*-----Template classes-----*/

[data-class="d__up"]
{
	width: 100%;
	position: absolute;
	margin-top: -250vh;
	top: 0;
	z-index: 30;
	transition: margin-top 1s ease-in-out, opacity 100ms linear 1s;
}

[data-class="d__current"]
{
	position: relative;
	margin-top: 0vh;
	width: 100%;
	z-index: 20;
	transition: margin-top 1s ease-in-out, opacity 100ms linear 1s;
}

[data-class="d__behind"]
{
	position: relative;
	margin-top: 0vh;
	z-index: 10;
	/*transition: margin-top 1s ease-in-out, opacity 100ms linear 1s;*/
}

[data-class="u__up"]
{
	width: 100%;
	position: absolute;
	margin-top: -250vh;
	z-index: 20;
	/*transition: margin-top 1s ease-in-out, opacity 100ms linear 1s;*/
}


[data-class="u__behind"]
{
	position: relative;
	margin-top: 0vh;
	z-index: 10;
	/*transition: margin-top 1s ease-in-out, opacity 100ms linear 1s;*/
}


[data-class="u__current"]
{
	position: absolute;
	margin-top: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: margin-top 1s ease-in-out, opacity 100ms linear 1s;
	z-index: 30;
}

[data-class="height"]
{
	position: absolute!important;
}

.chapter__template
{
	position: absolute;
	top: 0;
	display: none;
	background-color: #fff;
	max-height: 100vh;
	min-height: 100vh;
	overflow: hidden;
}

.chapter__template__left
{
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

.chapter__image
{
	transform: scale(0.8);
	opacity: 1;
	transition: all 500ms linear;
}

.scale
{
	opacity: 0;
}

.caption
{
	color: #FFDA91;
	font-family: 'avenirnextDemi';
	text-transform: uppercase;
}

.wrapper
{
	position: relative;
	transform: scale(0.9);
}

.content__container, .sample__container
{
	position: relative;
	min-height: 100%;
	min-width: 100%;
	box-shadow: 0 5px 6px 3px rgba(0,0,0,0.1);
	width: 100%;	
	border-radius: 20px;
	transition: margin-top 1s ease-in-out, opacity 50ms linear;
	background-color: #fff;
}

.content__title
{
	text-transform: uppercase;
	color: #0025D3;
	min-height: 10vh;
	max-height: 10vh;
	text-align: center;
	font-family: 'avenirnextBold';
}

.content__head
{
	font-family: 'avenirnextDemi';
}

.content__body
{
	min-height: 40vh;
	max-height: 40vh;
	overflow: hidden;
}

.body
{
	overflow: hidden;
}

/*-----Scrollbar style settings-----*/

.content__body::-webkit-scrollbar
{
	display: block;
	width: 2px;
}

.content__body::-webkit-scrollbar-thumb
{
	background-color: #2125298c;
}

.content__body::-webkit-scrollbar-track
{
	display: none;
}

/*-----Page control button styles-----*/

.page__control
{
	background-color: #192352;
	display: inline-block;
	color: #fff;	
	margin-top: -3rem;
	border-radius: 20px;
	max-height: 25vh;
	box-shadow: 0 5px 11px 0px rgba(0, 0, 0, 0.4);
}

.page__control__up, .page__control__down
{
	cursor: pointer;
}

.page__control>div:nth-child(1)
{
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	margin-bottom: -1px;
	transition: transform 200ms ease-in;
}

.page__control>div:nth-child(1):active
{
	transform: scale(0.8);
}

.page__control>div:nth-child(2)
{
	z-index: 10;
}

.page__control>div:nth-last-child(1)
{
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	margin-top: -1px;
	transition: transform 100ms ease-in;
}

.page__control>div:nth-last-child(1):active
{
	transform: scale(0.8);
}

.page__control__divider
{
	height: 1px;
	background-color: #fff;
	width: 80%;
}

/*-----Animation keyframes-----*/

@keyframes pgd
{
	from{margin-top: -250vh!important}
	to{margin-top: 0!important}
}

/*-----Media queries-----*/

@media only screen and (max-width: 767px)
{
	.chapter__template, .chapter__template__left
	{
		max-height: unset;
	}

	.chapter__template
	{
		overflow: unset;
	}

	.content__body
	{
		overflow: scroll;
	}

	.page__control
	{
		margin-top: 3rem;
	}
}

