@charset "UTF-8";

/*-----Fonts declaration-----*/

@font-face
{
	font-family: 'avenirnextDemi';
	src: url('../fonts/AvenirNextLTPro-Demi.otf');
}

@font-face
{
	font-family: 'avenirnextReg';
	src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

@font-face
{
	font-family: 'avenirnextBold';
	src: url('../fonts/AvenirNextLTPro-Bold.otf');
}


/*-----Template classes-----*/

[data-class="d__up"]
{
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: -250vh;
	top: 0;
	z-index: 30;
	transition: margin-top 600ms ease-in-out, opacity 100ms linear 1s;
}

[data-class="d__current"]
{
	position: relative;
	margin-top: 0vh;
	width: 100%;
	height: 100%;
	z-index: 20;
	transition: margin-top 600ms ease-in-out, opacity 100ms linear 1s;
}

[data-class="d__behind"]
{
	position: relative;
	margin-top: 0vh;
	z-index: 10;
	width: 100%;
	height: 100%;
	/*transition: margin-top 1s ease-in-out, opacity 100ms linear 1s;*/
}

[data-class="u__up"]
{
	position: absolute;
	margin-top: -250vh;
	width: 100%;
	height: 100%;
	z-index: 20;
	/*transition: margin-top 1s ease-in-out, opacity 100ms linear 1s;*/
}


[data-class="u__behind"]
{
	position: relative;
	margin-top: 0vh;
	width: 100%;
	height: 100%;
	z-index: 10;
	/*transition: margin-top 1s ease-in-out, opacity 100ms linear 1s;*/
}


[data-class="u__current"]
{
	position: absolute;
	margin-top: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: margin-top 600ms ease-in-out, opacity 100ms linear 1s;
	z-index: 30;
}

[data-height]
{
	position: absolute!important;
}

.chapter__template
{
	position: absolute;
	top: 0;
	display: none;
	background-color: #fff;
	max-height: 100vh;
	min-height: 100vh;
	overflow: hidden;
	z-index: 5;
}

.chapter__template__left
{
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	background-color: #192352;
	z-index:7;
	transition: all 600ms;
}

.chapter__template__right
{
	transition: width 900ms;
	z-index: 6;
}

.img__container
{
	margin-top: 25vh;
	min-height: 360px;
	overflow: hidden;
}

.chapter__image
{
	transform: scale(0.8);
	opacity: 1;
	transition: all 500ms linear;
}

.scale
{
	opacity: 0
}

.slide-up
{
	margin-top: -150vh;
}

.slide-down
{
	margin-top: 100vh;
}

.caption
{
	color: #FFDA91;
	font-family: 'avenirnextDemi';
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 600ms;
}

.progress
{
	transition: width 600ms ease-out;
}

.wrapper
{
	position: relative;
	transform: scale(0.9);
	min-height: 101%!important;
}

.content__container, .sample__container
{
	position: relative;
	min-height: 98.8%;
	min-width: 100%;
	box-shadow: 0 5px 6px 3px rgba(0,0,0,0.1);
	width: 100%;	
	border-radius: 20px;
	transition: margin-top 600ms ease-in-out, opacity 50ms linear, all 600ms;
	background-color: #fff;
}

.content__row
{
	transition: opacity 600ms;
}

.content
{
    display: flex;
    flex-direction: column;    
    align-items: center;
	overflow: auto;
	max-height: 55vh;
	min-height: 55vh;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.content__title
{
	text-transform: uppercase;
	color: #0025D3;
	/*min-height: 10vh;*/
	max-height: 10vh;
	text-align: center;
	font-family: 'avenirnextBold';
}

.content__head
{
	font-family: 'avenirnextDemi';
}

.content__head--center
{
	display: flex;
	justify-content: center;
}

.content__body
{
	min-height: 45vh;
	max-height: 45vh;
	overflow-x: unset;
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.body
{
	overflow: hidden;
}

/*-----Scrollbar style settings-----*/

.content__body::-webkit-scrollbar:vertical, .content::-webkit-scrollbar:vertical
{
	display: block;
	width: 2px;
}

.content__body::-webkit-scrollbar-thumb, .content::-webkit-scrollbar-thumb
{
	background-color: #2125298c;
}
.fullWidth--dark .content__body::-webkit-scrollbar-thumb, .fullWidth--dark .content::-webkit-scrollbar-thumb,.fullWidth--dark--null .content__body::-webkit-scrollbar-thumb, .fullWidth--dark--null .content::-webkit-scrollbar-thumb
{
	background-color: #fff;
}

.content__body::-webkit-scrollbar-track, .content::-webkit-scrollbar-track
{
	display: none;
}

.card__button
{
	display: inline;
	color: #fff;
    border-radius: 30px;
    letter-spacing: 1.5px;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #192352;
}

.card__textbox
{
	min-height: 30vh;
	max-height: 30vh;
	overflow-y: scroll;
}

.input
{
	color: #192352;
	border: none;
	outline: none;
	padding: 5px 5px 5px 10px;
	border-radius: 10px;
	box-shadow: 0 5px 6px 3px rgba(0,0,0,0.1);
}

.input:focus
{
	border: none;
	outline: none;
}

.table
{
	color: #fff!important;
	border: solid 1px #fff;
	border-radius: 20px;
	border-collapse: separate;
	border-spacing: 0;
}

.table2 td.value
{
	font-size: 60%;
}

.table td
{
	border-bottom: solid 1px #fff;
	vertical-align: middle!important;
	/*padding: 0 5px;*/
	border-top: solid 1px #fff!important;
}

.table tr.selected
{
	color: #192352;
	background-color: #fff;
}

/*-----Page control button styles-----*/

.page__control
{
	background-color: #192352;
	display: inline-block;
	color: #fff;
	stroke: #fff;
	margin-top: -3rem;
	min-width: 45px;
	border-radius: 20px;
	max-height: 25vh;
	box-shadow: 0 5px 11px 0px rgba(0, 0, 0, 0.4);
	transition: all 1s;
}

.page__control--dark
{
	background-color: #fff;
	color: #192352;
	stroke: #192352;
}

.page__control__up, .page__control__down
{
	cursor: pointer;
}

.page__control>div:nth-child(1)
{
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	margin-bottom: -1px;
	transition: transform 200ms ease-in;
}

.page__control>div:nth-child(1):active
{
	transform: scale(0.8);
}

.page__control>div:nth-child(2)
{
	z-index: 10;
}

.page__control>div:nth-last-child(1)
{
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	margin-top: -1px;
	transition: transform 100ms ease-in;
}

.page__control>div:nth-last-child(1):active, .next:active
{
	transform: scale(0.8);
}

.page__control__divider
{
	height: 1px;
	background-color: #fff;
	width: 80%;
}

.card__block
{
	padding: 40px 10px;
    margin: 10px 100px 40px;
    color: #0025D3;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 5px 11px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card__block:hover, .card__block:focus
{
	border: solid 1px #0025D3;
}

.card__block--red
{
	color: #FF1717;
	text-decoration: line-through;
}

.card__block--red:hover, .card__block--red:focus
{
	border: solid 1px #FF1717;
}

.card__footer
{
    display: inline-block;
    color: #0025D3;
    padding-bottom: 5px;
    border-bottom: solid 1px #0025D3;
    font-weight: bold;
    cursor: pointer;
    stroke: #0025D3;
}

.card__footer:after
{
	content: url(../images/svg/right.svg);
	display: inline-block;
	margin-left: 10px;
}

.arrow:after
{
	content: url(../images/svg/right-white.svg);
	display: inline-block;
	margin-left: 10px;
}

.next
{
	border: none;
	letter-spacing: 4px;
	text-transform: uppercase;
	transition: transform 100ms ease-in
}

input[type="submit"]
{
	outline: none;
    border: none;
    color: #192352;
    font-weight: bold;
}

/*-----Animation keyframes-----*/

@keyframes pgd
{
	from{margin-top: -250vh!important}
	to{margin-top: 0!important}
}

/*-----Media queries-----*/

@media only screen and (max-width: 767px)
{
	.chapter__template, .chapter__template__left
	{
		max-height: unset;
	}

	.chapter__template
	{
		overflow: unset;
	}

	.content__body
	{
		overflow: scroll;
	}

	.content
	{
		overflow: scroll;
		max-height: unset;
		min-height: unset;
	}

	.page__control
	{
		margin-top: 3rem;
	}
}

