<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Learn Scilla
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="./css/style.css" type="text/css">
	<link rel="stylesheet" href="./css/template.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="./css/auth.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/index.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	
	<nav class="navbar navbar-light navbar-expand-md mb-0">
		<!-- Brand -->
		<a class="navbar-brand py-2" href="#">
			<img src="./images/logo.png" alt="logo" class="img-fluid">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar" style="justify-content:flex-end;">
			<ul class="navbar-nav text-center">
				<li class="nav-item pr-sm-3 py-2 py-md-0 active">
					<a class="nav-link mx-auto" href="https://learnscilla.com">Home</a>
				</li>
				<li class="nav-item px-sm-3 py-2 py-md-0">
					<a class="nav-link mx-auto" href="#">Blockchain</a>
				</li>
				<li class="nav-item px-sm-3 py-2 py-md-0">
					<a class="nav-link mx-auto" href="#">Learn Scilla</a>
				</li>
				<li class="nav-item pl-sm-3 py-2 py-md-0">
					<a class="nav-link mx-auto" href="#">Discord Chat</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- HOMEPAGE -->
	<div class="container-fluid homepage d-flex justify-content-center align-items-center">
		<div class="row w-100" style="background-color:#fff;">
			<div class="col-md-6 m-5 m-md-0">
				<div class="row h-100">
					<div class="col-md-5">

					</div>
					<div class="col-md-5 card pt-5 pb-3 px-4 text-center">
						<div class="row">
							<div class="col-12">
								<div class="rounded mb-4 mx-auto card__bar">
									<div class="rounded m-0 p-0 status" style="width:0">

									</div>
								</div>
							</div>
						</div>
						<div class="row">

							<div class="col-12 px-4">
								<img src="./images/card1.png" class="img-fluid my-5 mx-auto">
							</div>

						</div>
						
						<div class="row title__text">
							<div class="col-12">
								<span>I want to learn about <br/>blockchain</span>
							</div>
						</div>
						
						<div class="row mt-5">
							<div class="col-12 text-right">
								<a class="title__learn1 learn">Learn more </a>
								<svg xmlns="http://www.w3.org/2000/svg" width="7.903" height="11.563" viewBox="0 0 7.903 11.563">
									<path id="Path_470" data-name="Path 470" d="M2043.282,1147.525,2048,1142.8l4.721,4.721" transform="translate(1148.586 -2042.221) rotate(90)" fill="none" stroke="#0025d3" stroke-width="2"/>
								</svg>
							</div>
						</div>
					</div>
					<div class="col-md-2">

					</div>
				</div>
			</div>
			<div class="col-md-6 m-5 m-md-0">
				<div class="row">
					<div class="col-md-2">

					</div>
					<div class="col-md-5 card pt-5 pb-3 px-4 text-center">
						<div class="row">
							<div class="col-12">
								<div class="rounded mb-4 mx-auto card__bar">
									<div class="rounded m-0 p-0 w-50">

									</div>
								</div>
							</div>
						</div>
						<div class="row">

							<div class="col-12 px-4">
								<img src="./images/card2.png" class="img-fluid my-5 mx-auto">
							</div>

						</div>
						<div class="row title__text">
							<div class="col-12">
								<span>I want to safely code smart <br/>contracts on blockchain</span>
							</div>
						</div>

						<div class="row mt-5">
							<div class="col-12 text-right">
								<a class="title__learn2 learn">Learn more </a>
								<svg xmlns="http://www.w3.org/2000/svg" width="7.903" height="11.563" viewBox="0 0 7.903 11.563">
									<path id="Path_470" data-name="Path 470" d="M2043.282,1147.525,2048,1142.8l4.721,4.721" transform="translate(1148.586 -2042.221) rotate(90)" fill="none" stroke="#0025d3" stroke-width="2"/>
								</svg>


							</div>
						</div>
					</div>
					<div class="col-md-5">

					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- login -->

	<div class="sign" style="display: none;">
		<div class="l__container">
			<div class="left">
				<div class="login"><%= locals.view %></div>
				<div class="eula">or <br><a href='/auth/<% if(locals.view == "Register") {%>login<% } else { %>register<% } %>'><u><% if(locals.view == "Register") {%>LOGIN<% } else { %>REGISTER<% } %></u></a></div>
				<% if(locals.auerr) { %> <div class="error eula"><%= locals.auerr %></div> <% } %>
			</div>
			<div class="right">
				<% if(locals.view == "Register") {%> <% } else { %>
				<div class="google-login"> 
					<a href="/auth/api/auth/google" class="gButton">
						Log in with Google <br>
					</a>
					<span class="or">OR</span>
				</div><% } %>
				<svg class="login" viewBox="0 0 320 300">
					<defs>
						<linearGradient inkscape:collect="always" id="linearGradient" x1="13" y1="193.49992" x2="307" y2="193.49992" gradientUnits="userSpaceOnUse">
							<stop
							style="stop-color:#ff00ff;"
							offset="0"
							id="stop876" />
							<stop
							style="stop-color:#ff0000;"
							offset="1"
							id="stop878" />
						</linearGradient>
					</defs>
					<path class="snake" d="M40,120l240,0c0,0,25,2.1,25,40s-25,40-25,40H40c0,0-25,0-25,28.5S40,257,40,257h215h-21.4" />
				</svg>
				<div class="forms">
					<form  name='login' class='forms__login <% if(locals.view == "Register") {%> <% } else { %> active--form  <% } %>' method="POST" action='/auth/login'>

						<label for="email__l">Email</label>
						<input type="email" class="email__l" name="email">
						<label for="pass__l">Password</label>
						<input type="pass" class="pass__l" name="pass">
						<input type="submit" class="submit" value="Submit">
					</form>
					<form class="forms__register <% if(locals.view == 'Register') {%> active--form <% } else { %> <% } %>" method="POST" action='/auth/register'>
						<label for='u__name'>Username</label>
						<input type='text' class="u__name__r" name='u__name'>
						<label for="email__r">Email</label>
						<input type="email" class="email__r" name="email">
						<label for="pass__r">Password</label>
						<input type="pass" class="pass__r" name="pass">
						<input type="submit" class="submit" value="Submit">
					</form>
				</div>
			</div>
		</div>



	</div>



	<script type="module" src="./js/index.js"></script>
</body>
</html>