<!DOCTYPE html>
<html lang="en">
<head>
	<title>
		Learn Scilla
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<link rel="stylesheet" href="/css/template.css" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/index.css" type="text/css">
	<link rel="stylesheet" href="/css/info.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	
	<nav class="navbar navbar-light navbar-expand-md mb-0">
		<!-- Brand -->
		<a class="navbar-brand py-2" href="#">
			<img src="../images/logo.png" alt="logo" class="img-fluid">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar" style="justify-content:flex-end;">
			<ul class="navbar-nav text-center">
				<li class="nav-item pr-sm-3 py-2 py-md-0 active">
					<a class="nav-link mx-auto" href="https://learnscilla.com">Home</a>
				</li>
				<li class="nav-item px-sm-3 py-2 py-md-0">
					<a class="nav-link mx-auto" href="#">Blockchain</a>
				</li>
				<li class="nav-item px-sm-3 py-2 py-md-0">
					<a class="nav-link mx-auto" href="#">Learn Scilla</a>
				</li>
				<% if(locals.user) {%>

				<li class="nav-item pl-sm-3 py-2 py-md-0 dropdown">
					<a class="nav-link mx-auto dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile
						
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
						<div class="container pb-2 px-4">
							<div class="row profile__row">
								<div class="col-md-6 d-flex justify-content-center align-items-center">
									<div class="profile__img" width="100px" height="100px"></div>
								</div>
								<div class="col-md-6 d-flex flex-column justify-content-center">
									<div><%= locals.user.username %></div>
									<div class="profile__email"><%= locals.user.email %></div>
								</div>
							</div>
							<div class="row mt-3 profile__wallet justify-content-around" style="min-width: 100%">
								
								<div class="col-md-6 d-flex justify-content-center">

									Wallet<br> <span class="walletAmt"><%= locals.user.wallet %> ZILs </span>
								</div>

								
								<div class="col-md-6 d-flex justify-content-md-end align-items-center">
									<span class="profile__redeem">Redeem</span>
								</div>
								
							</div>
							<div class="row profile__logout mt-3" style="min-width: 100%">
								<div class="col-12 d-flex justify-content-md-start">
									<a href="/auth/logout">
										Log out
									</a>
								</div>
								
							</div>
						</div>
					</div>
				</li>
				<% } else { %>
				<li class="nav-item pl-sm-3 py-2 py-md-0">
					<a class="nav-link mx-auto" href="/auth/login">Log In</a>
				</li>
				<% } %>
			</ul>
		</div>
	</nav>

	<!-- INDEX -->
	<div class="container-fluid index">
		<div class="row mx-5">
			<div class="col-12 d-flex justify-content-center flex-column">
				<div class="row mx-0 mx-md-5">
					<div class="col-12">
						<div class="row my-5 text-center">
							<div class="col-12">
								<div class="index__title">
									<h1>Index of Chapters</h1>
								</div>
							</div>
						</div>
						<div class="row index__chapter <%if(locals.user.progress==1) {%>active<%}%>" data-chapter=1>
							<div class="col-12 text-center">
								<div class="row my-4 justify-content-center align-items-center">
									<div class="col-md-6 col-lg-3 text-md-left py-2">
										Chapter 1: Introduction
									</div>
									<div class="col-3 text-md-right">
										<img src="../images/svg/right-index.svg" class="index__arrow">
									</div>
								</div>
							</div>
						</div>
						<div class="row index__chapter <%if(locals.user.progress==2) {%>active<%}%>" data-chapter=2>
							<div class="col-12 text-center">
								<div class="row my-4 justify-content-center align-items-center">
									<div class="col-md-6 col-lg-3 text-md-left">
										Chapter 2: Private key and Wallet Address
									</div>
									<div class="col-3 text-md-right py-2">
										<img src="../images/svg/right-index.svg" class="index__arrow">
									</div>
								</div>
							</div>
						</div>
						<div class="row index__chapter <%if(locals.user.progress==3) {%>active<%}%>" data-chapter=3>
							<div class="col-12 text-center">
								<div class="row my-4 justify-content-center align-items-center">
									<div class="col-md-6 col-lg-3 text-md-left py-2">
										Chapter 3: Genesis Block
									</div>
									<div class="col-3 text-md-right">

										<img src="../images/svg/right-index.svg" class="index__arrow">
									</div>
								</div>
							</div>
						</div>
						<div class="row index__chapter <%if(locals.user.progress==4) {%>active<%}%>" data-chapter=4>
							<div class="col-12 text-center">
								<div class="row my-4 justify-content-center align-items-center">
									<div class="col-md-6 col-lg-3 text-md-left">
										Chapter 4: The First Transaction
									</div>
									<div class="col-3 text-md-right py-2">
										<img src="../images/svg/right-index.svg" class="index__arrow">
									</div>
								</div>
							</div>
						</div>
						<div class="row index__chapter <%if(locals.user.progress==5) {%>active<%}%>" data-chapter=5>
							<div class="col-12 text-center">
								<div class="row my-4 justify-content-center align-items-center">
									<div class="col-md-6 col-lg-3 text-md-left py-2">
										Chapter 5: Hash
									</div>
									<div class="col-3 text-md-right">
										<img src="../images/svg/right-index.svg" class="index__arrow">
									</div>
								</div>
							</div>
						</div>
						<div class="row index__chapter <%if(locals.user.progress==6) {%>active<%}%>" data-chapter=6>
							<div class="col-12 text-center">
								<div class="row my-4 justify-content-center align-items-center">
									<div class="col-md-6 col-lg-3 text-md-left">
										Chapter 6: Hashing a Block
									</div>
									<div class="col-3 text-md-right py-2">
										<img src="../images/svg/right-index.svg" class="index__arrow">
									</div>
								</div>
							</div>
						</div>
						<div class="row index__chapter <%if(locals.user.progress==7) {%>active<%}%>" data-chapter=7>
							<div class="col-12 text-center">
								<div class="row my-4 justify-content-center align-items-center">
									<div class="col-md-6 col-lg-3 text-md-left">
										Chapter 7: The Nonce, Proof-of-Work and Mining
									</div>
									<div class="col-3 text-md-right py-2">
										<img src="../images/svg/right-index.svg" class="index__arrow">
									</div>
								</div>
							</div>
						</div>
						<div class="row index__chapter <%if(locals.user.progress==8) {%>active<%}%>" data-chapter=8>
							<div class="col-12 text-center">
								<div class="row my-4 justify-content-center align-items-center">
									<div class="col-md-6 col-lg-3 text-md-left">
										Chapter 8: Mining Rewards
									</div>
									<div class="col-3 text-md-right py-2">
										<img src="../images/svg/right-index.svg" class="index__arrow">
									</div>
								</div>
							</div>
						</div>
						<div class="row index__chapter <%if(locals.user.progress==9) {%>active<%}%>" data-chapter=9>
							<div class="col-12 text-center">
								<div class="row my-4 justify-content-center align-items-center">
									<div class="col-md-6 col-lg-3 text-md-left">
										Chapter 9: Conclusion
									</div>
									<div class="col-3 text-md-right py-2">
										<img src="../images/svg/right-index.svg" class="index__arrow">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>


	<!-- CHAPTERS -->
	<div class="container-fluid chapter__template">
		<div class="row">
			<div class="col-md-6 chapter__template__left text-center d-flex flex-column align-items-center">
				<div class="img__container d-flex align-items-center">
					<img src="../images/chapter1/img1.png" class="img-fluid p-2 chapter__image" />
				</div>
				<div class="small caption text-center pb-3">
					Published on October 31, 2008
				</div>
			</div>
			<div class="chapter__template__right col-md-6 d-flex flex-column align-content-center justify-content-center">
				<div class="row" style="max-height: 20vh;">
					<div class="col-12">
						<div class="row mb-4 mt-5 pt-md-5 mx-2 mx-md-4 px-5">
							<div class="col-12">
								<div class="rounded mb-4 mx-auto card__bar">
									<div class="rounded progress m-0 p-0">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="max-height: 80vh;min-height: 80vh">
					<div class="col-12">
						<div class=" sample__container wrapper pb-3 px-0 pt-0">
							<div class=" sample__container p-0 mx-0 mb-1 mt-0 " data-height>
								<div class=" sample__container p-0 mx-0 mb-2 mt-0 " data-height>





									<!-- Chapter 1 Page 0 -->
									<div data-id=0 class="y" data-height data-class="d__up">
										<div class="a row content__container px-2 pt-5 pb-1 m-0" style="display: none;" data-chapter="1" data-page="1">
											<div class="col-12 d-flex flex-column justify-content-center content__row">

												<div class="content">
													<div class="row mx-2 content__title">
														<div class="col-12">

														</div>
													</div>
													<div class="row content__body mx-2 mr-md-0 h-md-75 align-content-center">
														<div class="col-12 my-auto">
															<div class="content__head mb-3">


															</div>
															<div class="body w-md-75 text-justify text-md-left">
															</div>
														</div>
													</div>
												</div>
												<div class="row align-self-md-end" style="max-height: 20vh;">

													<div class="col-12 d-flex justify-content-md-end justify-content-center">
														<div class="page__control mb-3 d-flex flex-column align-items-center text-center">
															<div class="page__control__elem page__control__up px-2 pt-3 w-100 pb-0" data-chapter="1" data-page="0" data-dir="up" data-id="0">
																<svg xmlns="http://www.w3.org/2000/svg" width="17.632" height="10.23" viewBox="0 0 17.632 10.23">
																	<path id="Path_459" data-name="Path 459" d="M2043.282,1150.913l8.109-8.109,8.109,8.109" transform="translate(-2042.575 -1141.39)" fill="none" stroke="#f1f1f1" stroke-width="2"/>
																</svg>
															</div>

															<div class="px-2 py-2 w-100 m-0 small">
																1/15									
															</div>
															<div class="page__control__elem page__control__down px-2 pb-3 w-100" data-chapter="1" data-page="0" data-dir="down" data-id="0">
																<svg xmlns="http://www.w3.org/2000/svg" width="17.632" height="10.23" viewBox="0 0 17.632 10.23" >
																	<path id="Path_460" data-name="Path 460" d="M2043.282,1150.913l8.109-8.109,8.109,8.109" transform="translate(2060.207 1151.62) rotate(180)" fill="none" stroke="#f1f1f1" stroke-width="2" />
																</svg>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>

									<!-- Chapter 1 Page 1 -->
									<div data-id=1 class="y active--card" data-height data-class="d__current">
										<div class="a row content__container px-2 pt-5 m-0" style="display: none;" data-chapter="1" data-page="2" data-id="2">
											<div class="col-12 d-flex flex-column justify-content-center content__row">

												<div class="content">
													<div class="row mx-2 content__title">
														<div class="col-12">
															Chapter 1: Introduction
														</div>
													</div>
													<div class="row content__body mx-2 mr-md-0 h-md-75 align-content-md-center align-content-start">
														<div class="col-12 my-auto">
															<div class="content__head mb-3">
																On 31st Oct 2008, a mysterious figure Satoshi
																Nakamoto ­ published the Bitcoin white paper.

															</div>
															<div class="body w-md-75 text-justify text-md-left">


															</div>
														</div>
													</div>
												</div>
												<div class="row align-self-md-end" style="max-height: 20vh;">

													<div class="col-12 d-flex justify-content-md-end justify-content-center">
														<div class="page__control mb-2 d-flex flex-column align-items-center text-center">
															<div class="page__control__elem page__control__up px-2 pt-3 w-100 pb-0" data-chapter="1" data-page="1" data-dir="up" data-id="1">
																<svg xmlns="http://www.w3.org/2000/svg" width="17.632" height="10.23" viewBox="0 0 17.632 10.23">
																	<path id="Path_459" data-name="Path 459" d="M2043.282,1150.913l8.109-8.109,8.109,8.109" transform="translate(-2042.575 -1141.39)" fill="none" stroke="#f1f1f1" stroke-width="2"/>
																</svg>
															</div>

															<div class="px-2 py-2 w-100 m-0 small">
																1/15									
															</div>
															<div class="page__control__elem page__control__down px-2 pb-3 w-100" data-chapter="1" data-page="1" data-dir="down" data-id=1>
																<svg xmlns="http://www.w3.org/2000/svg" width="17.632" height="10.23" viewBox="0 0 17.632 10.23" >
																	<path id="Path_460" data-name="Path 460" d="M2043.282,1150.913l8.109-8.109,8.109,8.109" transform="translate(2060.207 1151.62) rotate(180)" fill="none" stroke="#f1f1f1" stroke-width="2" />
																</svg>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Chapter 1 Page 2 -->
									<div data-id=2 class="y" data-height data-class="d__behind">
										<div class="a row content__container px-2 pt-5 m-0" style="display: none;" data-chapter="1" data-page="3" data-id="2" data-class="behind">
											<div class="col-12 d-flex flex-column justify-content-center content__row">
												<div class="content">
													<div class="row mx-2 content__title">
														<div class="col-12">

														</div>
													</div>
													<div class="row content__body mx-2 mr-md-0 h-md-75 align-content-center">
														<div class="col-12 my-auto">
															<div class="content__head mb-3">


															</div>
															<div class="body w-md-75 text-justify text-md-left">


															</div>
														</div>
													</div>
												</div>
												<div class="row align-self-md-end" style="max-height: 20vh;">

													<div class="col-12 d-flex justify-content-md-end justify-content-center">
														<div class="page__control mb-2 d-flex flex-column align-items-center text-center">
															<div class="page__control__elem page__control__up px-2 pt-3 w-100 pb-0" data-chapter="1" data-page="2" data-dir="up">
																<svg xmlns="http://www.w3.org/2000/svg" width="17.632" height="10.23" viewBox="0 0 17.632 10.23">
																	<path id="Path_459" data-name="Path 459" d="M2043.282,1150.913l8.109-8.109,8.109,8.109" transform="translate(-2042.575 -1141.39)" fill="none" stroke="#f1f1f1" stroke-width="2"/>
																</svg>
															</div>

															<div class="px-2 py-2 w-100 m-0 small">
																3/15									
															</div>
															<div class="page__control__elem page__control__down px-2 pb-3 w-100" data-chapter="1" data-page="1" data-dir="down">
																<svg xmlns="http://www.w3.org/2000/svg" width="17.632" height="10.23" viewBox="0 0 17.632 10.23" >
																	<path id="Path_460" data-name="Path 460" d="M2043.282,1150.913l8.109-8.109,8.109,8.109" transform="translate(2060.207 1151.62) rotate(180)" fill="none" stroke="#f1f1f1" stroke-width="2" />
																</svg>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>


								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="info">
		<div class="info__box">
			<div class="info__box__header mb-3">
			</div>
			<div class="info__box__content">
			</div>
			<div class="info__box__back card__button mt-2 p-1" onclick="document.querySelector('.info').style.display='none';">
				Back
			</div>

		</div>
	</div>

	<script type="module" src="/js/script.js"></script>
</body>
</html>