@charset "UTF-8";

.info
{
	display: none;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.69);
	z-index: 10;
}

.info__box
{
	position: absolute;
	background-color: #fff;
	padding: 10px 20px;
	top: 50%;
	left: 50%;
	font-size: 125%;
	border-radius: 20px;
	box-shadow: 0 5px 6px 3px rgba(0,0,0,0.1);
	transform: translate(-50% ,-50%);
	z-index: 999;
}

.info__box__header
{
	text-transform: capitalize;
	font-weight: bold;
}

.info__box__content
{
	font-size: 60%;
}

.info__box__back
{
	border-radius: 15%;
	text-transform: unset;
	float: right;
	font-size: 75%;
	font-weight: 500;
	cursor: pointer;
}

.correct
{
	color: green;
}

.incorrect
{
	color: red;
}

.information
{
	color: #192352;
}